.item{ 
    border: 1px solid rgb(197, 197, 197);
    width: 250px;
    background-color: #fff;
    border-radius: 4px;
    padding:10px;
    box-shadow:-1px 1px 3px 0 rgb(187, 187, 187);
}

.item:hover {
    border: 1px solid #f55d2c;
    box-shadow:-1px 1px 3px 0 rgb(167, 126, 100);
}

.item img {
    margin: 0;
    width: 230px;
}

.item h5 {
    margin-top: -5px;
}

.item .controls {
    background-color: #fafafa;
    margin-top: 12px;
}

.item .controls > * {
    display: inline-block;
}

.item .controls .btn-add {
    margin-left: 20px;
}